* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: url('img.jpg') no-repeat center center / cover, #222;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: transparent;
  backdrop-filter: blur(20px);
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, .2);
  width: 400px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #fff;
}

p {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin: 8px 0;
  border-radius: 40px;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 14px;
  outline: none;
  background: transparent;
  color:#fff;
}

input::placeholder {
    color: #ccc;
}

input:focus {
  border-color:#fff;
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.2);
  color: #fff;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field i {
  position: absolute;
  right: 20px;
  top: 48%;
  transform: translateY(-48%);
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

button {
  width: 100%;
  background: #2563eb;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 40px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.back {
  margin-top: 16px;
  font-size: 14px;
}

.back a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.back a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}